.user-submenu {
    width: 7rem;
    position: absolute;
    top: 55px;
    right: 8.2px;
    text-align: start;
    font-weight: bold;
}

.user-submenu li {
    padding-top: 10px;
    background: gold; 
    cursor: pointer;

}

.user-submenu-clicked {
    display: none;
}

.submenu-item {
    margin: 0;
    display: flex;
    flex-basis: 0;
    padding: 16px;
    justify-content: center;
}

.user-submenu :hover {
    background:  rgb(108, 28, 28);
    color: rgb(248, 216, 32);
}