@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Source Serif 4', sans-serif;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: inherit;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: inherit;
    cursor: pointer;
}

.err-img img {
    max-width: 400px;
}

.reg-form {
    display: flex;
    flex-direction: row;
}
